
@using CarInsuranceProject247.Models

@{
    ViewBag.Title = "Thank you";
}

<div class="jumbotron">
    <h1 class="lead">Thank you! <br /> Here is your free quote:</h1>
    <h2>$@ViewBag.Quote.00 per month</h2>
</div>
